.red_button,
.red_button:focus{
    color: 	#DC143C;
    border-color: #DC143C;
    background-color: #FFFFFF;
}
.red_button:hover {
    color: 	#DC143C;
    border-color: #DC143C;
    background-color: #FFC0CB;
}
.red_button.is-active,
.red_button:active {
    color: 	#DC143C;
    border-color: #DC143C;
    background-color: #FFC0CB;
}
.search_button,
.search_button:focus{
    color: #ffffff;
    background-color: #DC143C;
    border-color: #DC143C;
}
.search_button:hover {
    color: 	#DC143C;
    border-color: #DC143C;
    background-color: #FFC0CB;
}
.text_button {
    color: #DC143C;
}
.text_button:hover {
    color: 	#FFC0CB;
}
.red {
    color: 	#DC143C;
}
.font {
    font-size: 12px;
}